<div class="container">
<br>
  <%= render 'dreams/dream_table_without_user_col' %>
  <%= link_to icon('fas', 'dragon') + " #{@user.username}'s Symbols", user_symbolisms_path(@user), class: "btn btn-secondary"%>
  <br></br>
</div>
<br>