    <div class="card text-white bg-dark mb-3" style="max-width: 75%rem;">
      <h2 class="card-header">Symbols</h2>
      <% @symbolisms.order(:name).uniq.each do |symbolism| %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to icon('fas', 'dragon') + " " + symbolism.name, symbolism_path(symbolism) %></h5>
            <h6 class="card-title">Meanings:</h3>
            <% symbolism.dream_symbolisms.each do |dream_symbolism| %>
                <p class="card-text"><%= dream_symbolism.meaning %></p>
                <footer class="blockquote-footer"><%= link_to icon('fas', 'cloud-moon') + " " + dream_symbolism.dream.title, user_dream_path(dream_symbolism.dream.user, dream_symbolism.dream) %></footer>
            <% end%>
          </div>
      <% end %>
    </div>