<div class="container">
  <br>
    <% if @user && @user == current_user %>
      <%= render 'users_symbolisms' %>
    <% elsif @user %>
      <%= render 'users_public_symbolisms' %>
    <% else%>
      <%= render 'public_symbolisms' %>
    <% end%>
  <br>
</div>